<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Muhammed Waqar Ahmed. It uses data from <a
                href="https://www.mapbox.com">mapbox.com</a> and <a href="https://weatherstack.com">weatherstack.com
            </a>!</p>
        <img class="portrait" src="/img/mwa.png">
        <p>I am learning Node, I created this project to learing. |13/11/22|</p>
        <a href="https://mwaqar.com">MWAQAR.COM</a>
    </div>
    {{>footer}}
</body>


</html>