<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/mwa.jpeg">
        <p>I am learning Node, I created this project to learing. |13/11/22|</p>
    </div>
    {{>footer}}
</body>


</html>